<ion-header>
  <ion-toolbar>
    <ion-title>
      Datos nuevos
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
	<h1>Amaia Casas</h1>

<div padding>
      <ion-item>
        <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
         </ion-item>

		<ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          
</div>
 
</ion-content>

<!--https://www.techiediaries.com/ionic-ui-forms-theming/-->