<ion-header>  

  <ion-toolbar>
  	<ion-buttons  slot="start"> 
      <ion-back-button  defaultHref="/tabs/tab1"></ion-back-button> 
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Experiencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Responsable de sección <br/> Super Amara</ion-card-title>
        <ion-card-subtitle>Enero de 2007 - agosto de 2018 - 11 años y 8 meses <br/> Donostia - San Sebastián </ion-card-subtitle>
        <ion-card-subtitle>He desempeñado diversos puestos como charcutera, cajera,preparación de pedidos a domicilio, reponedora diurna, y los últimos tres años como encargada de sección de congelados. Mis funciones principales eran la atención al cliente, relación con proveedores, realizar pedidos, comprobación de albaranes y mercancía, inventarios, registro de documentación.</ion-card-subtitle>
      </ion-card-header>      
    </ion-card>

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Administrativa <br/> Euskoambiente, S.L</ion-card-title>
        <ion-card-subtitle>Abril de 2003 - mayo de 2014 - 11 años y 2 meses <br/> Donostia - San Sebastián </ion-card-subtitle>
        <ion-card-subtitle>Realizaba tareas administrativas, como preparación de rutas para los comerciales, facturación, tramites bancarios, control de cuentas, preparación de pedidos, etc.</ion-card-subtitle>
      </ion-card-header>      
    </ion-card>

     <ion-card class="welcome-card">
     	<ion-card-header>
        <ion-card-title>Auxiliar Administrativa en Secretaría <br/> Centro Profesional María Inmaculada</ion-card-title>
        <ion-card-subtitle>Octubre de 2008 - diciembre de 2008 - 3 meses <br/> Donostia - San Sebastián </ion-card-subtitle>
        <ion-card-subtitle>Realicé prácticas en la secretaría del mismo centro en el que estudié, mis funciones eran: atención telefónica, tramitación de matriculas y becas, archivo de documentación, preparación notas evaluación, registro de alumnos en el archivo, control sobre las cuotas y gastos de la asociación de padres y madres. </ion-card-subtitle>
      </ion-card-header>      
    </ion-card>

</ion-content>
